/*==========  section header ==========*/
header {
  padding: 40px 0 38px;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 3px solid rgba(255, 255, 255, 0.4); }
  header a {
    color: #fff;
    font-size: 27px;
    font-weight: bold; }
    header a:hover {
      color: #a462fe; }
  header .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.logo {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 354px;
  width: 100%; }
  .logo img {
    width: 100%; }

/*==========  section header end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
