@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Circe";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Circe/Circe-ExtraBold.eot");
  src: url("../fonts/Circe/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe/Circe-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: "Circe";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Bold.eot");
  src: url("../fonts/Circe/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Bold.woff") format("woff"), url("../fonts/Circe/Circe-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Circe";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Regular.eot");
  src: url("../fonts/Circe/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Regular.woff") format("woff"), url("../fonts/Circe/Circe-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Circe";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Light.eot");
  src: url("../fonts/Circe/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Light.woff") format("woff"), url("../fonts/Circe/Circe-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Circe";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Circe/Circe-ExtraLight.eot");
  src: url("../fonts/Circe/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-ExtraLight.woff") format("woff"), url("../fonts/Circe/Circe-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: "MontserratAlternates";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-Medium.eot");
  src: url("../fonts/MontserratAlternates/MontserratAlternates-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratAlternates/MontserratAlternates-Medium.woff") format("woff"), url("../fonts/MontserratAlternates/MontserratAlternates-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "MontserratAlternates";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/MontserratAlternates/MontserratAlternates-SemiBold.eot");
  src: url("../fonts/MontserratAlternates/MontserratAlternates-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratAlternates/MontserratAlternates-SemiBold.woff") format("woff"), url("../fonts/MontserratAlternates/MontserratAlternates-SemiBold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Circe", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #000; }
  body:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2916px;
    background: url("../img/bg4.png") no-repeat center bottom;
      background-size: cover; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Circe", sans-serif;
  border: none;
    border-radius: 0;
  width: 100%; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: inherit; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: inherit; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: inherit; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: inherit; }
    input::-webkit-input-placeholder:hover, input::-webkit-input-placeholder:focus, textarea::-webkit-input-placeholder:hover, textarea::-webkit-input-placeholder:focus, select::-webkit-input-placeholder:hover, select::-webkit-input-placeholder:focus {
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none; }
    input::-moz-placeholder:hover, input::-moz-placeholder:focus, textarea::-moz-placeholder:hover, textarea::-moz-placeholder:focus, select::-moz-placeholder:hover, select::-moz-placeholder:focus {
      outline: none;
      box-shadow: none; }
    input::-ms-input-placeholder:hover, input::-ms-input-placeholder:focus, textarea::-ms-input-placeholder:hover, textarea::-ms-input-placeholder:focus, select::-ms-input-placeholder:hover, select::-ms-input-placeholder:focus {
      outline: none;
      box-shadow: none; }
    input::placeholder:hover, input::placeholder:focus, textarea::placeholder:hover, textarea::placeholder:focus, select::placeholder:hover, select::placeholder:focus {
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none; }

label {
  display: block;
  width: 100%; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Circe", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
    border-radius: 0; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 27px;
  font-weight: 800;
  letter-spacing: 0.68px;
  height: 77px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 78px; }

.btn-accent {
  color: #fff;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 30px 0 rgba(164, 98, 254, 0.9);
          box-shadow: 0 0 30px 0 rgba(164, 98, 254, 0.9);
  position: relative;
  z-index: 1;
  padding: 0; }
  .btn-accent span {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #a462fe;
    padding: 0 78px;
    border-radius: 40px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    border: 2px solid #aa78fe; }
  .btn-accent:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    z-index: -1;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    background-color: #7646b6; }
  .btn-accent:hover {
    color: #fff; }
    .btn-accent:hover span {
      background: #8a53d6; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

strong, b {
  font-weight: bold;
  display: inline-block; }

ul, ol {
  padding: 0 0 0 20px; }

.my-ul {
  list-style: none;
  padding: 0; }

.container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding: 0 15px;
  width: 100%;
  max-width: 1335px; }

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "MontserratAlternates", sans-serif;
  line-height: .7;
  letter-spacing: -5.51px;
  font-size: 220.5px;
  font-weight: 500;
  color: #fff;
  mix-blend-mode: overlay;
  margin: 40px auto 85px;
  text-shadow: 0 0 20px #fff; }

h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 136px;
  font-size: 60px;
  font-weight: 600;
  font-family: "MontserratAlternates", sans-serif;
  line-height: 1; }

.color-green {
  color: #74df0b; }

.color-red {
  color: #c9223d; }
